<%= link_to t(:edit, :scope => [:users]), edit_user_path(@user) %> | <%= link_to t(:delete, :scope => [:users]), user_path(@user), :confirm => t(:delete_confirmation), :method => :delete %>
<p>
  <b><%= t(:name, :scope => [:formtastic, :labels, :user]) %> -</b>
  <%= @user.name %>
</p>
<b><%= t(:connected_networks) %></b>
<%= connected_networks.html_safe %>

<b><%= t(:link_network) -%></b>
<div class="networks">
<%= connect_networks.html_safe %>
</div>
