<%= link_to t(:view, :scope => [:posts]), post_path(@post) %> | <%= link_to t(:view_all, :scope => [:posts]), posts_path %> | <%= link_to t(:delete, :scope => [:posts]), post_path(@post), :confirm => t(:delete_confirmation), :method => :delete %>
<h2><%= t(:edit, :scope => [:posts]) %></h2>
<%= render 'form' %>