<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:app) -%></title>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <%= stylesheet_link_tag :all %>
    <%= yield :stylesheets %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render_flash_messages %>
    <%= yield %>
    <%= javascript_include_tag :defaults %>
    <%= yield :javascripts %>
  </body>
</html>